Options -Indexes
RewriteEngine On
RewriteBase /

# Block direct access to DB and src/
RewriteRule ^(raaz_server\.db|src/) - [F,L]

# Route all requests through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
